<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>增加商品页</title>
<link href="/static/css/common.css" rel="stylesheet" type="text/css" />
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="wrap">
  <!-- main begin-->
  <div class="sale">
    <h1 class="lf">在线拍卖系统</h1>
    <div class="logout right"><a href="/logout" title="注销">注销</a></div>
  </div>
      <div class="login logns produce">
        <h1 class="blues">拍卖品信息</h1>
        <form name="formAdd" method="post" target="_self" action="/addAuctionHandle" enctype="multipart/form-data">
          <dl>
            <dd >
              <label>名称：</label>
              <input name="auctionName" type="text" class="inputh lf" value="" />
              <div class="xzkbg spbg lf"></div>
            </dd>
            <dd>
              <label>起拍价：</label>
              <input name="auctionStartPrice" type="text" class="inputh lf" value="" />
              <div class="lf red laba">必须为数字</div>
            </dd>
            <dd>
              <label>底价：</label>
              <input name="auctionUpset" type="text" class="inputh lf" value="" />
              <div class="lf red laba">必须为数字</div>
            </dd>
            <dd>
              <label>开始时间：</label>
              <input name="auctionStartTime" type="datetime-local" class="inputh lf" value="" />
              <div class="lf red laba">格式：2010-05-05 12:30:00</div>
            </dd>
            <dd>
              <label>结束时间：</label>
              <input name="auctionEndTime" type="datetime-local" class="inputh lf" value="" />
              <div class="lf red laba">格式：2010-05-06 16:30:00</div>
            </dd>
            <dd class="dds">
              <label>拍卖品图片：</label>
               <div class="lf salebd"><a href=""><img  width="100" height="100" /></a></div>
              <input name="auctionPic" type="file" accept="image/*" class="offset10 lf" />
            </dd>
             <dd class="dds">
              <label>描述：</label>
              <textarea name="auctionDesc" cols="" rows="" class="textarea"></textarea>
            </dd>
            <dd class="hegas">
                <input name="" type="submit" value="保 存" class="spbg buttombg buttombgs buttomb f14 lf" />
                <input name="" type="reset" value="取 消" class="spbg buttombg buttombgs buttomb f14 lf" />
            </dd>
          </dl>
        </form>
    </div>
<!-- main end-->
<!-- footer begin-->

</div>
 <!--footer end-->

</div>
</body>
</html>
